.intro__header {
  position: relative;
  z-index: 1;
  color: $color-pine-tree;
  text-align: center;

  @include media('<=phone') {
    // Add mobile-specific styles if needed
  }
}

.intro__header__title {
  font: 6rem/1 $font-ampersand;
  display: block;
  text-align: center;
  color: white;

  @include media('<=phone') {
    font-size: 10.5rem;
  }
}

.intro__header__title__text {
  display: flex;
  justify-content: center;
  overflow: hidden;

  span {
    transform: translateY(100%);
    transition-delay: 1s;
  }

  &:not(:first-child) {
    margin-top: -6rem;
  }

  @include media('<=phone') {
    &:not(:first-child) {
      margin-top: -1rem;
    }
  }
}

.intro--active {
  .intro__header__title__text span {
    transform: translateY(0);
  }

  .intro__header__title__text:nth-child(1) span {
    transition: transform 2.5s 1s $ease-out-expo;
  }

  .intro__header__title__text:nth-child(2) span {
    transition: transform 2.5s 0.4s $ease-out-expo;
  }

  .intro__header__title__text:nth-child(3) span {
    transition: transform 3.5s 0.4s $ease-out-expo;
  }

  .intro__header__title__text:nth-child(4) span {
    transition: transform 3.5s 0.6s $ease-out-expo;
  }

  .intro__enter {
    transform: translate(-50%, 0);
    opacity: 1;
  }

  .intro__description {
    transform: translateY(0);
    opacity: 1;
  }
}

.intro__header__title--reverse {
  transform: translateY(-130%);
  transition: transform 0.4s ease;
}

.intro__enter {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  opacity: 0;
  font-size: 5rem;
  color: white;
  text-transform: uppercase;
  font-family: $font-neue-montreal;
  transition: transform 3.5s 2s $ease-out-expo, opacity 3.5s 2s $ease-out-expo;
  cursor: pointer;
  z-index: 3;

  @include media('<=phone') {
    font-size: 1.5rem;
  }

  &:hover {
    transform: translate(-50%, 0) scale(1.1);
  }
}

.intro__description {
  display: block;
  text-align: center;
  padding: 3rem 15vw;
  font-family: $font-neue-montreal;
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 2s 1.6s $ease-out-expo;

  @include media('<=phone') {
    text-align: justify;
    text-align-last: justify;
    text-justify: inter-word;
    padding: 3rem 10rem;
    font-size: 0.9rem;
    overflow: hidden;
  }
}

.intro__description--reverse {
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}
