section.intro

  .intro__content
    .intro__wrapper

   

      header.intro__header
        h1.intro__header__title
          span.intro__header__title__text
            | #[span TUS]
            | #[span IIME]




      
      .image-wrapper
         .intro__image
          img(src="/intro/intro.webp" alt="Intro Image")

      .intro__enter
       a.navigation__link(href="/home") ENTER

      .intro__description
        p Tim Andrews is a multidisciplinary designer with a focus on digital and print media.