canvas {
  display: block;
  height: 100vh;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: z('canvas');
}

.canvas__background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: transparent; // Shader background canvas will be appended here
  z-index: z('canvas-background');
  pointer-events: none;
}
