$color-iron:#fffdfb;
$color-pine-tree:#000000;

$font-ampersand: 'Delight Variable', serif;
$font-neue-montreal: 'Neue Montreal', sans-serif;

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: (
  'noscript',
  'navigation',
  'content',
  'canvas',
  'card',
  'canvas-background'
);
